body {
    background-color: pink;
    color: black;
    padding: 40px;
    font-family: Arial;
    text-align: left;
  }

hr {
    border: 2px black;
}

h1 {
  text-align: center;
  font-size: 350%;
}